tornado
pymongo
py-bcrypt
WTForms
docutils
misaka
postmarkup
textile
Pygments
git+https://github.com/equeny/tornadomail.git
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
